body {
	padding: 10px;
	background-color: aliceblue;
	font-family: "Roboto",Helvetica Neue,Helvetica,Arial,sans-serif;
}
.parent-container {
	margin-bottom: 10px;
}
.title {
	float: left;
}
.g-signin2 {
	position: absolute;
	right: 10px;
	top: 7px;
}
.container {
	clear: both;
}

.settings {
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
}

.graph-container {
	position: relative;
	background-color: white;
}

.graph {
	padding-top: 20px;
}

.navbar {
	height: 50px;
}

.navbar-brand {
	background-image: url(/images/sabre-logo-slab.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	min-width: 134px;
	margin-right: 20px;
}

.navbar h3 {
	color: white;
	margin: 10px 0;
}

.page-content {
	margin-top: 50px;
}

.navbar-right {
	margin-right: 15px;
}